*.aux
*.log
*.out
*.tex.backup
*.toc
*.lot

*.bbl
*.bcf
*.blg
*.run.xml
*.bib.backup


template/auto/*
20*pdf
main.pdf
main-blx.bib
*test
*old
main.lof
\#*
\.\#*
main.tdo
*.synctex.gz
template/blind*

Template-Documentation.pdf
